<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.u2.business.enterprise.dao.EntOrderMapper">

    <resultMap type="EntOrder" id="OrderResult">
        <result property="orderId" column="id"/>
        <result property="sn" column="sn"/>
        <result property="memberId" column="member_id"/>
        <result property="address" column="address"/>
        <result property="money" column="money"/>
        <result property="num" column="num"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <association property="member" column="member_id" javaType="EntMember" resultMap="memberResult"/>
    </resultMap>

    <resultMap id="memberResult" type="EntMember">
        <id property="memberId" column="member_id"/>
        <result property="memberName" column="member_name"/>
        <result property="phoneNumber" column="phone_number"/>
    </resultMap>

    <sql id="selectOrderVo">
        select o.order_id,
               o.sn,
               o.member_id,
               o.address,
               o.money,
               o.num,
               o.status,
               o.remark,
               o.create_time,
               o.update_time,
               o.create_by,
               o.update_by,
               m.member_name,
               m.phone_number
        from ent_order o
                 left join ent_member m on o.member_id = m.member_id
    </sql>

    <select id="selectOrderList" parameterType="EntOrder" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where o.del_flag = '0'
        <if test="sn != null  and sn != ''">and sn = #{sn}</if>
        <if test="memberId != null ">and member_id = #{memberId}</if>
        <if test="status != null ">and status = #{status}</if>
        <if test="memberName != null and memberName != ''">and c.name like concat('%', #{memberName}, '%')</if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(a.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(a.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <select id="selectOrderById" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where o.order_id = #{orderId} and o.del_flag = '0'
    </select>

    <select id="selectOrderBySn" parameterType="String" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where o.sn = #{sn} and o.del_flag = '0'
    </select>

    <select id="selectOrderByMemberName" parameterType="String" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where m.member_name = #{memberName} and o.del_flag = '0'
    </select>

    <select id="selectOrderByMemberId" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where o.member_id = #{memberId} and o.del_flag = '0'
    </select>

    <insert id="insertOrder" parameterType="EntOrder" useGeneratedKeys="true" keyProperty="id">
        insert into ent_order(
        <if test="orderId != null and orderId != 0">order_id,</if>
        <if test="sn != null and sn != ''">sn,</if>
        <if test="memberId != null">member_id,</if>
        <if test="address != null and address != ''">address,</if>
        <if test="money != null">money,</if>
        <if test="num != null">num,</if>
        <if test="status != null">status,</if>
        <if test="remark != null">remark,</if>
        <if test="createBy != null">create_by,</if>
        create_time
        )value (
        <if test="orderId != null and orderId != 0">#{orderId},</if>
        <if test="sn != null and sn != ''">#{sn},</if>
        <if test="memberId != null">#{memberId},</if>
        <if test="address != null and address != ''">#{address},</if>
        <if test="money != null">#{money},</if>
        <if test="num != null">#{num},</if>
        <if test="status != null">#{status},</if>
        <if test="remark != null">#{remark},</if>
        <if test="createBy != null">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="updateOrder" parameterType="EntOrder">
        update ent_order
        <set>
            <if test="sn != null and sn != ''">sn = #{sn},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteOrderById" parameterType="Long">
        update ent_order
        set del_flag = '2'
        where order_id = #{orderId}
    </delete>

    <select id="checkSnUnique" parameterType="String" resultMap="OrderResult">
        select order_id, sn
        from ent_order
        where sn = #{sn}
          and del_flag = '0'
        limit 1
    </select>
</mapper>